:root {
    --primary-color: #005792;
    --secondary-color: #2772db;
    --light-color: #f7f7f7;
    --border: 1px solid #2772db;
    --border-radius: 7px;
}

body {
    font-family: 'Catamaran', sans-serif;
}

h1 {
    color: var(--light-color);
    font-size: 80px;
    font-weight: 900;
    text-align: center;
}

h2 {
    color: var(--light-color);
    padding: 10px;
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 45px;
    background:var(--secondary-color);
    border-radius: var(--border-radius);
}

hr {
    color: var(--secondary-color)
}

.logo {
    max-width: 70px;
}

.intro {
    background: var(--secondary-color);
    margin-top: 100px;
    padding: 100px;
    border-radius: var(--border-radius);
}

.navigation-element {
    margin-top: 65px;
    text-align: center;
    font-size: 22px;
}

.navigation-element a {
    color: var(--light-color);
    text-decoration: none;
    font-family: 'Caveat', cursive;
    font-size: 28px;
    
}

.navigation-links {
    padding: 10px 20px;
    border-radius: var(--border-radius);
    background: var(--secondary-color);
    
    
}

.navigation-links:hover {
    color: var(--secondary-color);
    background: var(--light-color);
    transition: all 150ms ease-in-out;
    border: var(--border);
}

.profile-photo {
    padding: 10px;
    border: var(--border);
    border-radius: var(--border-radius);
    width: 400px;
    margin-top: 10px;
}

.profile-element {
    margin-top: 30px;
}